<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => t("zone_pricing")} %>

<%= error_messages_for :variant %>

<% form_for(:variant, :url => admin_product_variant_url(@product, @variant), :html => { :method => :put }) do |f| %>

  <h3><%= t("zone_pricing") %></h3>
  <%= render 'admin/shared/zone_prices' %>
  <br/><br/>

  <%= render :partial => 'admin/shared/edit_resource_links' %>
<% end %>

